@import "tailwindcss";
@import "tw-animate-css";

body {
  font-family: var(--font-open-sans), sans-serif;
}

.tabs-list {
  min-width: 100% !important;
  display: flex !important;
  justify-content: flex-start !important;
}